.home{
 background-image:url("..//assets/backgrounds/h_img.jpg");
background-size: cover;
background-size: 100%;
background-repeat: no-repeat;
}
.logo{
    text-align: center;
    color: whitesmoke;
padding-top: 10%;
}
P {
    font-size: 8px;
}
.img {
    text-align: center;
    padding-top: 15%;
}
.part2{
    text-align: center;
    padding-top: 5%;
}
P {
    text-align: center;

}
.part3{
    background-image:url("..//assets/backgrounds/s_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.text{
    text-align: center;
    color:  whitesmoke;
   font-size: 5%;
    padding-top:5%;
    padding-bottom: 5%;
}
